<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.sass">
    <title>Login</title>
</head>
<body>
    <section id="login">
        <h1>Home</h1>
        <h1>Profile</h1>
        <nav class="login">
            <router-link to="/profile">Logout</router-link>
        </nav>
        <h2>Welcome</h2>
        <nav>
            <router-link to="/profile"><button>Guarda tu colección</button></router-link>
        </nav>
    
        <footer>Footer</footer>
    </section>
</body>
</html>