<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.sass">
    <title>Profile</title>
</head>
<body>
    <section id="profile">
        <h1>Home</h1>
        <h1>Login</h1>
        <nav class="register">
            <router-link to="/register">Register</router-link>
        </nav>
        <h2>Welcome to the page</h2>
        
        <nav class="btn">
            <router-link to="/register"><button>EMPECEMOS</button></router-link>
        </nav>

        <footer>Footer</footer>
    </section>
</body>
</html>