<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.sass">
    <title>Registro</title>
</head>
<body>
    <section id="register">
        <h1>Home</h1>

        <nav>
            <router-link to="/login"><h1>Login</h1></router-link>
        </nav>

        <h1>Register</h1>
        <h2>FORMULARIO REGISTRO</h2>

        <footer>Footer</footer>

    </section>

</body>
</html>